{% include "parks/base.html" %}
{% block content %}
<title>Password Reset</title>
<div style="margin-top:50px;">
{% if user.is_authenticated %}
    <p>Please logout before continuing.</p>
    <form action="{% url 'logout'%}" method="get">
        <input type="submit" class="btn" value="Logout" name="logout">
    </form>
{% else %}
    <form method="post" action="">
    {% csrf_token %}
    <table>
    {{ form.as_table }}
    </table>
    <input type="submit" class="btn" value="Reset password"/>
    </form>
{% endif %}
</div>
{% endblock %}